 <main class="main-content">
        <div class="container-fluid photos">
          <div class="row justify-content-center">
            <div class="col-md-6 pt-4" data-aos="fade-up">
              <h2 class="text-white mb-4">Donate Me</h2>
    {{#if message}}
    <h3 class="text-primary">{{message}}</h3>
    {{/if}}
              <div class="row">
                <div class="col-md-12">
                  

                  

                  <div class="row">
                    <div class="col-md-12">
                      <form action="/api/donate" method="POST">
                        <div class="row form-group">
                          <div class="col-md-6 mb-3 mb-md-0">
                            <label class="text-white" for="fname"
                              >Name</label
                            >
                           
                            <input
                              type="text"
                              id="name"
                              name="name"
                              class="form-control"
                            />
                          </div>
        
                        </div>

                        <div class="row form-group">
                          <div class="col-md-12">
                            <label class="text-white"
                          
                             for="email">Email</label>
                            <input
                              name="email"
                              type="email"
                              id="email"
                              class="form-control"
                            />
                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-md-5">
                            <label class="text-white" for="subject"
                              >Amount (in dollars)</label
                            >
                            <input
                            name="amount"
                              type="number"
                              id="subject"
                              class="form-control"
                            />
                          </div>
                        </div>

                      
                         {{!-- <input type="hidden" name="client" value="true" /> --}}

                        <div class="row form-group">
                          <div class="col-md-12">
                            <input
                              type="submit"
                              value="Donate Now"
                              class="btn btn-primary btn-md text-white"
                            />
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-12 text-center py-5">
              <p>
               
              </p>
            </div>
          </div>
        </div>
      </main>