<div class="container py-4 p-5 m-5">

    {{#if paid}}
    <h1>Thank you,</h1>
    <h4 class="text-primary">Your Payment has been successfull. You will recieve an email within next 24 hours.</h4>
    {{else}}

    <h4>Sorry problem occured while processing your transaction.</h4>

    {{/if}}
</div>